
.home-container {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}


.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E4E2DD;
  padding: 40px 0px;
}

.products-grid {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3%;
}


.product-price {
  font-size: 1.2rem;
  color: #333;
}


.product-price-old {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}


.product-price-discounted {
  color: #E60023;
  font-weight: bold;
}


.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}


.products-title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}


.ver-mas-link {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  margin-right: 20px;
}


.ver-mas-link:hover {
  text-decoration: underline;
  color: #414141;
}
