
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E2DD;
    padding: 0px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo-link img {
    height: 40px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid grey;
    padding-right: 20px;
    padding-left: 20px;

  }
  .navbar-links li:last-child {
    font-size: 16px;
    font-weight: bold;
    border-right: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: #333;
  }
  .navbar-links li:hover{
    background-color: #ababab47;
    transition: 0.4s;
  }

  .navbar-links li:first-child:hover{
    background-color:#ababab47;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: 0.4s;
  }

  .navbar-links li:last-child:hover{
    background-color: #ababab47;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: 0.4s;
  }

  .navbar-links li:hover a{
    color: #434343;
    transition: 0.4s;
  }
  .navbar-icons {
    display: flex;
    gap: 20px;
  }
  
  .icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  