.users-container {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
  overflow-x: hidden;
  border-bottom: 2cm solid #E4E2DD;
}

.search-filter {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 20px;
  gap: 150px;
}

.search-filter select {
  padding: 12px;
  font-size: 18px; 
  border-radius: 18px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-filter input {
  padding: 12px;
  font-size: 18px;
  border-radius: 18px;
  border: 1px solid #ccc;
  width: 1000px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4gPHBhdGggZD0iTTE0LjMxIDIwLjcxbDQuODctNC44NmEuNzkuNzkgMCAwIDAgMC0xLjEyTDExLjgyIDExLjhhNyA3IDAgMSAwLS43OTkuNzk5bDcuMjg4IDcuMjk2YS43OS43OSAwIDAgMCAxLjEyIDB6bS0xMy40LTkuNzY4YTYuMDk3IDYuMDk3IDAgMSAxIDEyLjE5NCAwIDYuMDk3IDYuMDk3IDAgMCAxLTEyLjE5NCAweiIvPjwvc3ZnPg==');
  background-position: 98% center; 
  background-repeat: no-repeat;
  background-size: 20px;
  
}

.user-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.user-card {
  max-width: 100%;
}
