.product-table-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 5px;
  }
  
  .add-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 99rem;
    cursor: pointer;
    margin-top: 0px !important;
    margin-right: 15px;
  }
  
  .add-button:hover {
    background-color: #333;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 20px 5px 14px;
    border-radius: 99rem;
}
  
  .search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  .search-icon {
    margin-left: 5px;
    color: #888;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
}
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left;
  }
  .tableContainer{
    box-shadow: 0 2px 30px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 15px;
}
  .styled-table thead {
    background-color: #f3f3f3;
    font-weight: bold;
  }
  .styled-table th:first-child{
    border-top-left-radius: 10px;
  } 
  .styled-table th:last-child{
    border-top-right-radius: 10px;
  }
  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .edit-button {
    color: #5cb85c;
  }
  
  .delete-button {
    color: #d9534f;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border: 1px solid #ccc;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset !important;
  }
  
  .modal-content {
    background: white;
    padding: 30px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 35%;
  }
  
input, select{
  margin-bottom: 0px !important;
}

.searchBar{
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border: 1px solid #ddd;
    border-radius: 99rem !important;
}

.inputGroup {
  display: flex;
  gap: 8%;
  padding-right: 20px;
}